@(title: String)(content: Html)(initState: String)

<!DOCTYPE html>

<html>
<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>
    @* The wrapper around the React mount point must contain no whitespace so
    * output looks identical inside this element on server and browser. *@
    <div id="application">@content</div>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("react-with-addons.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("react-dom.min.js"))"></script>
    <script src="@routes.Assets.at("javascripts/components/Greetings.js")"></script>
    <script>
        var greetingsElement = React.createElement(Greetings, @Html(initState));
        ReactDOM.render(greetingsElement, document.getElementById("application"));
    </script>
</body>
</html>
